---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Casey Shields';
let description = 'My Personal Website';
let permalink = 'https://casey-shields.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../styles/blog.css')} />

    <style>
      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <h1 class="latest">{title}</h1>
          <p>{description}</p>
        </section>
        <article>
            <p>
                Hello. I'm Casey, and this is my little spot on the web.
            </p>
            <p>I have other sites for my
                <a href="https://www.shieldsworks.com">photography</a>, <a
                    href="https://www.skyriterchronicles.com">typewriters</a> and
                <a href="https://www.sailingdash.com">sailing</a> using Squarespace or Wordpress, but this is a blog for
                learning indie development, blockchain, crypto
                and Web3. I am constantly searching for
                additions to my RSS feed.
            </p>
            <br>
            <p>
                As a cop since 2007, my personal and professional commitments
                encourage a
                voice around peace, kindness, and protection of the most vulnerable. You may find that voice here, as
                well.
            </p>
        </article>
        <br>
        <article>
            <p>
                Currently: Learning HTML, CSS and Javascript. This code was written
                on VSCode with Astro, pushed to Github, and deployed with the Netlify Starter plan (free). I tinker/code/write in my
                spare time, supported by Udemy and YouTube. I'm shooting for the cheapest, indieweb inspired,
                coded-from-scratch, personal site. I hope we can connect... somehow..
            </p>
        </article>
        <section aria-label="Blog post list">
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
        

      </main>
    </div>
    <footer class="site-footer h-card" role="contentinfo">
        <img class="u-photo" src="img/profile_square.JPG" alt="photo of Casey Shields">
        <p class="p-note">
            Cop in the Bay Area since 2007. Photographer, writer, and developer. Owner of ShieldsWorks, LLC.
        </p>
        <p>
            No Instagram or Facebook, but you can find
            me on <a href="https://twitter.com/ShieldsWorks">Twitter</a> and <a
                href="https://github.com/shieldsworks">Github</a>. The best way to reach me is by
            <a href="mailto:casey@shieldsworks.com">email.
        </p>
    </footer>
  </body>
</html>
